<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Hyper</string>
    <key>uuid</key>
    <string>a8b7c6d5-e4f3-2a1b-9c8d-7e6f5a4b3c2d</string>
</dict>
</plist>
